<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
 <div id="full-page-wrapper">
        <header>
            <ul id="menu-options">
                <li id='logout-link'><a href="/logout">Log Out</a></li>
            </ul>
        </header>
        <ul id='profile-header'>
        </ul>
    <section class='content-section'>
        <div id='contacts-portal-wrapper'>
        <h3>Your Contacts</h3>
            <ul id='contacts-portal-list'>
    <!-- user additions to contact log go here -->
                <li>Joe</li>
                <li>Aleks</li>
                <li>Dylan</li>
                <li>A Hooker</li>
                <li>Your Parents</li>
            </ul>
            <div class='icons'>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-ban" aria-hidden="true"></i>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        </div>
    </section>
    <section class='content-section'>
        <!--Calendar display with data goes here -->
    </section>
    <section class='content-section'>
    <!--Stats with totals and history go here -->
    </section>
</div>
</body>

</html>